*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
}

body{
    width: 100vw; 
    background: linear-gradient(to right, #1e013f, #513f66);
}

header{
    background: linear-gradient(to right, #1e013f, #513f66);
}

.imagem-header{
    width: 50vw;
    height: 35vh;
    margin-left: 300px;
    opacity: 0.8;
    margin-top: 40px;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, #1e013f, #513f66);
    color: white;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 30vh;
}

.imagem{
    width: 20%;
    height: 96%;
    border-radius: 90px;
}

.paragrafo{
    width: 800px;
    color: white;
    font-size: 16px;
}

.img-carousel{
    max-width: 400px;
    margin:80px 0 20px 24px;
}

.carousel slide{
    background-color: transparent;
    bottom: 0px;
    position: absolute;
    display: inline-block;
}


